<form action="/api/users/signin" method="post">
  <form>
    <label for="username">Username:</label><br />
    <input type="email" id="username" name="username" /><br />
    <label for="password">Last name:</label><br />
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
    />
    <button type="submit" class="button is-info">
      Login
    </button>
  </form>
</form>
